@font-face {
  font-family: 'Ferrum';
  src: url('../../fonts/regular/Ferrum.woff2') format('woff2'),
  url('../../fonts/regular/Ferrum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
