<section *ngIf="hasError" class="error-container">
  <p class="error-message">
    <strong><mat-icon>error_outline</mat-icon></strong>
    <strong>&nbsp;{{ errorContent }}</strong>
  </p>
</section>
<section class="form">
  <form [formGroup]="form" >
    <legend>Log in</legend>
    <mat-divider></mat-divider>
    <p class="form-field">
      <mat-form-field v appearance="outline" class="full-width" [class.mgb15]="form.get('username').dirty && form.get('username').invalid">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" required name="username" />
        <mat-error *ngIf="form.get('username').dirty && form.get('username').hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
    </p>
    <p class="form-field">
      <mat-form-field appearance="outline" class="full-width" [class.mgb15]="form.get('password').dirty && form.get('password').invalid">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" required name="password" [type]="hide ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
    </p>
    <p class="form-buttons">
      <button mat-button class="button-submit" [disabled]="form.invalid" (click)="login(form.value)">
        Login
        <mat-icon>login</mat-icon>
      </button>
    </p>
  </form>
  <mat-divider></mat-divider>
  <p style="margin-top:10px;text-align: center"><i>Don't have an account? <a [routerLink]="['/signup']">Click here</a> to sign up.</i></p>
</section>
