@import '../../assets/scss/modules/_fonts.scss';

$ferrum_font: 'Ferrum';

.filter-header {
  font-size:25px;
  color:dodgerblue;
  margin-top: 15px;
  margin-left:15px;
  font-family: $ferrum_font !important;
}

mat-panel-title {
  font-family: $ferrum_font !important;
  font-size: 20px;
  justify-content: center;
}

div.game-list-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
}

div.game-menu {
  width: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
}

div.game-list-with-params {
  width: 60%;
}

div.game-list-params {
  background-color: #eff5ff;
  border:  1px groove rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.28);
}

div.input-wrap {
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  border:  1px groove rgba(0,0,0,0.1);
  border-radius: 5px;
  height: 59px;
}

.logged-out-container {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
}

.game-list, .logged-out-container {
  display: flex;
  position: relative;
  float: top;
  flex-direction: column;
  background-color: #eff5ff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 25px;
  border:  1px groove rgba(0,0,0,0.1);
  border-radius: 5px;
  box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.28);
}

.game-list-header {
  border: none;
  background-color: #eff5ff;
}

.game-list-header:hover {
  background-color: #eff5ff;
  box-shadow: none;
}

mat-list-item {
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0e8ff;
  font-size: 14px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

mat-list-item:hover {
  box-shadow: 0px 0px 22px 8px rgba(132,162,250,1);
  background-color: #84a2fa;
}

button.game-item-edit {
  margin-right: 10px;
}

button.game-item-delete:hover {
  background-color: darkorange;
}

button.game-item-edit:hover {
  background-color: cornflowerblue;
}

#list-elem-name {
  width: 500px;
  padding-top: 18px;
}

#list-elem-prop {
  width: 200px;
  padding-top: 18px;
}

.menu-item {
  width: 100%;
  background-color: #e0e8ff;
  border:1px groove rgba(0,0,0,0.1);

}

.error-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #ffcccc;
  color: #ff4444;
  border: 5px ridge #af3333;
}

.error-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
