@import 'assets/scss/modules/_fonts.scss';

// primary font
$ferrum_font: 'Ferrum';



html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-header-text{
  width: 100% !important;
}

div.head {
  background-color: #4e99ff;
  padding: 20px 10px 5px 20px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 0px 0px rgba(42,80,176,0.8);
  border-style: ridge ridge none;
  border-width: 10px;
  border-color: rgba(42,80,176,0.5);
}

h1, h2 {
  font-family: $ferrum_font !important;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 25px !important;
}
