@import '../../assets/scss/modules/_fonts.scss';

$ferrum_font: 'Ferrum';

.mat-display-3,.mat-display-1 {
  font-family: $ferrum_font !important;
}

#card-container {
  width: 50%;
  margin-left: 25%;
  margin-top : 20px;
}

.game-card {
  border: 3px groove #b3d7ff;
  background-color: #e6f2ff;
  border-radius: 10px;
  box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.28);
}

section.came-card-container {
  display: flex;
  flex-direction: column;
}

section.came-card-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

.card-return {
  border: 2px groove #999999;
  border-radius: 10px;
  background-color: #cfcfcf;
  margin-right: 20px;
  transition: box-shadow 0.3s;
  width: 25%;
  justify-content: center;
  display: flex;
  align-content: center;
}

.card-return:hover {
  box-shadow: 0px 0px 22px 8px rgba(180,180,180,1);
  background-color: #dddddd;
}

.card-edit {
  border: 2px groove #3333cc;
  border-radius: 10px;
  margin-right: 20px;
  transition: box-shadow 0.3s;
  width: 25%;
  justify-content: center;
  display: flex;
  align-content: center;
}

.card-edit:hover {
  box-shadow: 0px 0px 22px 8px rgba(132,162,250,1);
  background-color: #84a2fa;
}

.card-delete {
  border: 2px groove #ff3333;
  border-radius: 10px;
  background-color: #ff7d7d;
  transition: box-shadow 0.3s;
  width: 25%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.card-delete:hover {
  box-shadow: 0px 0px 22px 8px rgba(255,5,5,1);
  background-color: #ff0000;
}

div.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-container-right {
  margin-right: 20px;
  border: 2px groove rgba(0,0,0,0.3);
  max-height: 300px;
  width: auto;
  max-width: 400px;
}

.error-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #ffcccc;
  color: #ff4444;
  border: 5px ridge #af3333;
}

.error-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
