<div id="card-container">
  <section *ngIf="hasError" class="error-container">
    <p class="error-message">
      <strong><mat-icon>error_outline</mat-icon></strong>
      <strong>&nbsp;{{ errorContent }}</strong>
    </p>
  </section>
  <section class="came-card-container">
    <mat-card class="game-card">
      <div class="card-header">
        <mat-card-header>
          <mat-card-title class="card-container-left"><p class="mat-display-3">{{ game.name }}</p></mat-card-title>
          <mat-card-subtitle class="card-container-left"><p class="mat-display-1">Genre: {{ game.genre }}</p></mat-card-subtitle>
          <mat-card-subtitle class="card-container-left"><p class="mat-display-1">Platform: {{ game.platform }}</p></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="game.cover" (error)="updateImageUrl()" class="card-container-right" />
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <br />
      <mat-card-content>
        <p>{{ game.description }}</p>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="came-card-controls">
    <button class="card-return" mat-raised-button (click)="returnToGameList()">
      <mat-icon svgIcon="icon-back"></mat-icon>
      Return to List
    </button>
    <button class="card-edit" mat-raised-button color="primary" (click)="showEditDialog()" >
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button class="card-delete" mat-raised-button (click)="openConfirmDialog()">
      <mat-icon svgIcon="icon-delete"></mat-icon>
      Delete
    </button>
  </section>
</div>
