<div *ngIf="hasError" >{{errorContent}}</div>
<section class="form">
  <form [formGroup]="form">
    <fieldset>
      <legend>Register</legend>
      <p class="form-field">
        <label>Username:</label>
        <input matInput name="username" formControlName="username">
      </p>
      <p class="form-field">
        <label>Password:</label>
        <input matInput name="password" formControlName="password"
             type="password">
      </p>
      <p class="form-field">
        <label>Confirm Password:</label>
        <input matInput name="cpassword" formControlName="cpassword"
             type="password">
        <mat-error *ngIf="form.get('cpassword').dirty && form.hasError('notSame')">
          Passwords must match
        </mat-error>
      </p>
    </fieldset>
    <p class="form-buttons">
      <button class="button-submit"
              (click)="signup(form.value)">Signup</button>
    </p>
  </form>
</section>
